{
  "extend": "eslint-config-airbnb",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },

  "plugins": [
    "import"
  ],

  "rules": {
    "semi": 2,

    //Possible Errors
    "no-console": 2,
    "no-debugger": 2,
    "no-unexpected-multiline": 2,

    // Best Practices
    "no-invalid-this": 2,
    "no-useless-call": 2,
    "radix": 2,

    // Variables
    "no-catch-shadow": 2,
    "no-label-var": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-use-before-define": [2, "nofunc"],

    // Node.js
    "callback-return": 2,
    "no-path-concat": 2,

    // Stylistic Issues
    "array-bracket-spacing": 2,
    "linebreak-style": [2, "unix"],

    // ECMAScript 6
    "constructor-super": 2,
    "generator-star-spacing": [2, "after"],
    "no-class-assign": 2,
    "no-this-before-super": 2,
    "prefer-spread": 2
  }
}
